body {
    font-family: 'Raleway', sans-serif;
    background-color: #FDBB34;
    margin: 0;
    padding: 0;
  }

  .headerbox {
    height: 35px;
    width: 100vw; 
    margin: 0;
    padding: 0;
    background-color: #FAF8F0;
  }

  h2 {
    text-align: right;
    font-weight: thin;
    letter-spacing: 12px;

    font-size: 1.2em;
  }

  



}
