body {
    font-family: 'Raleway', sans-serif;
    background-color: #FAF8F0;
    margin: 0;
    padding: 0;
  }

  .maincontainer { 
    margin-top: 0;
    padding: 0;
    background-color: #FDBB34;
  }

  .maincontentbox { 
    margin-top: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f5f1e5 29%, #fdbb34 100%);
  }

  h3 {
    text-align: right;
    font-weight: 200;
    letter-spacing: 12px;
    color: #A86A00;

    font-size: 1.2em;
    margin: 0;
    padding: 0ex;
  }

  .timeanddegree {
    display: grid;
    grid-template-columns: 13fr 1fr;
    grid-template-rows: 100px;

    margin-top: 0;
    padding: 0;
  }

  .degree {
    font-size: 1.5em;
    color: #EFAF42;
  }

  .time {
    font-size: 2em;
    color: #EFAF42;
  }

  .borderbox {
    border: 2px solid #FAF8F0;
    border-radius: 15px;
    height: 350px;
    width: 52vw;
    margin-top: 0;
    margin-left: 25vw;
  }
  .whitebox {
    border: 2px solid #FAF8F0;
    border-radius: 15px;
    height: 350px;
    width: 50vw;
    margin-top: 0;
    margin-right: 25vw;
  }

  .iconbox {
    max-width: 25%;
    max-height: 25%;
    display: block;
  }

  h1 {
    font-size: 6vw;
    font-weight: bolder;
    color: #EDA831;
  }

  .dailyinfo {
    color:rgb(236, 156, 17);
    text-align: left;
  }

  .weekbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .daysofweek {
    color: #FFFFFF;
    margin-left: 10vw;
  }

  .hilo {
    color: #FFFFFF;
    margin-left: 80vw;
  }

  .weeklyicons {
    max-width: 20%;
    max-height: 20%;
    display: block;

    margin-left: 90vw;
  }



}
