body {
    font-family: 'Raleway', sans-serif;
    background-color: #FAF8F0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0;
  }

  .maincontentbox { 
    margin-top: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f5f1e5 29%, #f3a916 100%);
    margin-bottom: 50px;
  }

  h3 {
    text-align: right;
    font-weight: 200;
    letter-spacing: 12px;
    color: #A86A00;

    font-size: 1.2em;
    margin: 0;
    padding: 0ex;
  }

  .timeanddegree {
    display: grid;
    grid-template-columns: 13fr 1fr;

    margin-top: 0;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
  }

  .degree {
    font-size: 1.5em;
    color: #EFAF42;
    margin: 0;
  }

  .time {
    font-size: 2em;
    color: #EFAF42;
    margin: 0;
  }

  .daygreeting_morning {
      font-size: 4em;
      font-weight: 1000;
      color: #EFAF42;
      margin-left: 100px;
  }

  .daygreeting_afternoon {
      display: none;
  }

  .daygreeting_evening {
    display: none;
}

  .borderbox {
    border: 2px solid #FAF8F0;
    border-radius: 15px;
    height: 350px;
    width: 52vw;
    margin-top: 0;
    margin-left: 25vw;
  }
  .whitebox {
    border: 2px solid #FAF8F0;
    border-radius: 15px;
    height: 350px;
    width: 50vw;
    margin-left: .9vw;
  }

  .iconbox {
      margin-left: 3.5vw;
      margin-top: 40px;
  }

   .iconbox_yellow {
      margin: 0;
      padding: 0;
  }

  .iconbox_pink {
      display: none;
  }

  .iconbox_blue {
      display: none;
  }

  .dailytemp {
      position: absolute;
  }

  h1 {
    font-size: 6em;
    font-weight: bolder;
    color: #EDA831;

    margin: auto;
    padding: auto;
    margin-left: 10vw;
    margin-top: -190px;
  }

  .dailyinfo {
    color:rgb(236, 156, 17);
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: auto;
    margin-left: 30vw;
    margin-top: -240px;
  }

  .dailyinfopart1 {
    margin-bottom: -100px;
  }

  .part1 {
    margin-bottom: 50px;
  }
  .part2 {
    margin-bottom: 50px;
  }

  .weeklyinfo {
      border: none;
      display: grid;
      grid-template-columns: 2fr .2fr .2fr;
      margin-top: 110px;
  }

  .highlightbox {
    height: 25px;
    width: 84vw;
    background-color:#FAF8F0;
    opacity: 30%;
    border-radius: 15px;

    position: absolute;
    margin: 123px;
    margin-left: 138px;
  }


  .daysofweek {
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-left: 150px;
  }

  .hilo {
    color: #FFFFFF;
    margin-bottom: 40px;
  }

  .weeklyicons {
    max-width: 20%;
    max-height: 20%;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .weeklyicons_2 {
      margin-bottom: 10px;
  }

  @media screen and (max-width: 767px) {
    .maincontentbox {
      background: linear-gradient(to bottom, #bac2e9 0%, #131527 100%);
    }

    h3 {
        text-align: center;
        font-weight: 300;
        letter-spacing: 12px;
        color: #303960;
    
        font-size: 1.2em;
        margin: 0;
        padding: 0ex;
      }

      .timeanddegree {
          display: block;
          padding-left: 500px;
      }
    

      .degree {
        font-size: 1.2em;
        font-weight: 600;
        color: #1E2957;
        margin-bottom: 0;
      }
    
      .time {
        font-size: 1.2em;
        font-weight: 600;
        color: #1E2957;
        margin-top: 0;
      }

      .daygreeting_evening {
        font-size: 4em;
        font-weight: 1000;
        color: #FFFFFF;
        margin-left: 100px;
      }

      .daygreeting_morning {
          display: none;
      }

      .borderbox {
        height: 460px;
        width: 52vw;
        margin-left: 25vw;
      }

      .whitebox {
        height: 460px;
      }

      h1 {
        font-size: 4em;
        font-weight: bolder;
        color: #1E2957;
    
        margin: auto;
        padding: auto;
        margin-left: 17vw;
        margin-top: 60px;
      }

      .dailyinfo {
        color:#1E2957;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        margin: auto;
        margin-left: 30vw;
        margin-top: 120px;
      }
    
      .dailyinfopart1 {
        margin-bottom: -100px;
      }
    
      .part1 {
        margin-bottom: 50px;
      }
      .part2 {
        margin-bottom: 50px;
      }

      .iconbox_yellow {
          display: none;
      }

      .highlightbox {
        height: 25px;
        width: 55vw;
        opacity: 30%;
    
        position: absolute;
        margin: 126px;
        margin-left: 18vw;
        padding-left: 30px;
      }

      .weeklyinfo {
          display: grid;
          grid-template-columns: 2.75fr 1fr 2fr;
          margin-left: 8vw;
          line-height: 30px;
      }


      .daysofweek {
        color: #FFFFFF;
        margin-bottom: 40px;
        margin-left: 100px;
      }

      .weeklyicons {
        line-height: 40px;
      }

  }

    /* Tablet Styles */
    @media screen and (max-width: 1024px) and (min-width: 768px) {
      .maincontentbox {
        background: linear-gradient(to bottom, #ffe9db 0%, #fa4c17 100%);
      }

      h3 {
        text-align: center;
        font-weight: 300;
        letter-spacing: 12px;
        color: #F8A991;
    
        font-size: 1.2em;
        margin: 0;
        padding: 0ex;
      }

      .timeanddegree {
          display: block;
          padding-left: 500px;
      }
    

      .degree {
        font-size: 1.2em;
        font-weight: 600;
        color: #F87C56;
        margin-bottom: 0;
      }
    
      .time {
        font-size: 1.2em;
        font-weight: 600;
        color: #F87C56;
        margin-top: 0;
      }

      .daygreeting_afternoon {
        font-size: 4em;
        font-weight: 1000;
        color: #FFFFFF;
        margin-left: 100px;
      }

      .daygreeting_morning {
          display: none;
      }

      .borderbox {
        height: 460px;
        width: 52vw;
        margin-left: 25vw;
      }

      .whitebox {
        height: 460px;
      }

      h1 {
        font-size: 5em;
        font-weight: bolder;
        color: #F87C56;
    
        margin: auto;
        padding: auto;
        margin-left: 20vw;
        margin-top: 60px;
      }

      .dailyinfo {
        color:#F87C56;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        margin: auto;
        margin-left: 30vw;
        margin-top: 120px;
      }
    
      .dailyinfopart1 {
        margin-bottom: -100px;
      }
    
      .part1 {
        margin-bottom: 50px;
      }
      .part2 {
        margin-bottom: 50px;
      }

      .iconbox_yellow {
          display: none;
      }

      .highlightbox {
        height: 25px;
        width: 82vw;
        opacity: 30%;
    
        position: absolute;
        margin: 126px;
        margin-left: 85px;
      }

      .weeklyinfo {
          margin-right: 50px;
      }


      .daysofweek {
        color: #FFFFFF;
        margin-bottom: 40px;
        margin-left: 100px;
      }

      
    }







}
