body {
    font-family: 'Raleway', sans-serif;
    background-color: #FAF8F0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0;
  }

  .maincontentbox { 
    margin-top: 0;
    padding: 0;

    margin-bottom: 50px;
    padding-top: 5px;
  }

  .maincontentbox.morning {
    background: linear-gradient(to bottom, #f5f1e5 29%, #f3a916 100%);
  }

  .maincontentbox.afternoon {
    background: linear-gradient(to bottom, #ffede2 10%, #fa4c17 100%);  
  }

  .maincontentbox.evening {
    background: linear-gradient(to bottom, #bac2e9 0%, #131527 100%);  
  }

  .icon_01d {
    background-image: url("/img/01d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_01d.morning {
    background-image: url("/img/01d_yellow.png");
  }

  .icon_01d.afternoon {
    background-image: url("/img/01d_pink.png");
  }

  .icon_01d.evening {
    background-image: url("/img/01d_blue.png");
  }

  .icon_01n {
    background-image: url("/img/01n.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_01n.morning {
    background-image: url("/img/01d_yellow.png");
  }

  .icon_01n.afternoon {
    background-image: url("/img/01d_pink.png");
  }

  .icon_01n.evening {
    background-image: url("/img/01d_blue.png");
  }
  


  .icon_02d {
    background-image: url("/img/02d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_02d.morning {
    background-image: url("/img/02d_yellow.png");
  }

  .icon_02d.afternoon {
    background-image: url("/img/02d_pink.png");
  }

  .icon_02d.evening {
    background-image: url("/img/02d_blue.png");
  }

  .icon_02n {
    background-image: url("/img/02d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_02n.morning {
    background-image: url("/img/02d_yellow.png");
  }

  .icon_02n.afternoon {
    background-image: url("/img/02d_pink.png");
  }

  .icon_02n.evening {
    background-image: url("/img/02d_blue.png");
  }


  
  .icon_03d {
    background-image: url("/img/03d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_03d.morning {
    background-image: url("/img/03d_yellow.png");
  }

  .icon_03d.afternoon {
    background-image: url("/img/03d_pink.png");
  }

  .icon_03d.evening {
    background-image: url("/img/03d_blue.png");
  }

  .icon_03n {
    background-image: url("/img/03d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_03n.morning {
    background-image: url("/img/03d_yellow.png");
  }

  .icon_03n.afternoon {
    background-image: url("/img/03d_pink.png");
  }

  .icon_03n.evening {
    background-image: url("/img/03d_blue.png");
  }


  
  .icon_04d {
    background-image: url("/img/04d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_04d.morning {
    background-image: url("/img/04d_yellow.png");
  }

  .icon_04d.afternoon {
    background-image: url("/img/04d_pink.png");
  }

  .icon_04d.evening {
    background-image: url("/img/04d_blue.png");
  }

  .icon_04n {
    background-image: url("/img/04d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_04n.morning {
    background-image: url("/img/04d_yellow.png");
  }

  .icon_04n.afternoon {
    background-image: url("/img/04d_pink.png");
  }

  .icon_04n.evening {
    background-image: url("/img/04d_blue.png");
  }


  
  .icon_09d {
    background-image: url("/img/09d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_09d.morning {
    background-image: url("/img/09d_yellow.png");
  }

  .icon_09d.afternoon {
    background-image: url("/img/09d_pink.png");
  }

  .icon_09d.evening {
    background-image: url("/img/09d_blue.png");
  }

  .icon_09n {
    background-image: url("/img/09d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_09n.morning {
    background-image: url("/img/09d_yellow.png");
  }

  .icon_09n.afternoon {
    background-image: url("/img/09d_pink.png");
  }

  .icon_09n.evening {
    background-image: url("/img/09d_blue.png");
  }


  
  .icon_10d {
    background-image: url("/img/10d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_10d.morning {
    background-image: url("/img/10d_yellow.png");
  }

  .icon_10d.afternoon {
    background-image: url("/img/10d_pink.png");
  }

  .icon_10d.evening {
    background-image: url("/img/10d_blue.png");
  }

  .icon_10n {
    background-image: url("/img/10d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_10n.morning {
    background-image: url("/img/10d_yellow.png");
  }

  .icon_10n.afternoon {
    background-image: url("/img/10d_pink.png");
  }

  .icon_10n.evening {
    background-image: url("/img/10d_blue.png");
  }


  
  .icon_11d {
    background-image: url("/img/11d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_11d.morning {
    background-image: url("/img/11d_yellow.png");
  }

  .icon_11d.afternoon {
    background-image: url("/img/11d_pink.png");
  }

  .icon_11d.evening {
    background-image: url("/img/11d_blue.png");
  }

  .icon_11n {
    background-image: url("/img/11d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_11n.morning {
    background-image: url("/img/11d_yellow.png");
  }

  .icon_11n.afternoon {
    background-image: url("/img/11d_pink.png");
  }

  .icon_11n.evening {
    background-image: url("/img/11d_blue.png");
  }


  
  .icon_13d {
    background-image: url("/img/13d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .icon_13d.morning {
    background-image: url("/img/13d_yellow.png");
  }

  .icon_13d.afternoon {
    background-image: url("/img/13d_pink.png");
  }

  .icon_13d.evening {
    background-image: url("/img/13d_blue.png");
  }

  .icon_13n {
    background-image: url("/img/13d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_13n.morning {
    background-image: url("/img/13d_yellow.png");
  }

  .icon_13n.afternoon {
    background-image: url("/img/13d_pink.png");
  }

  .icon_13n.evening {
    background-image: url("/img/13d_blue.png");
  }


  
  .icon_50d {
    background-image: url("/img/50d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .icon_50d.morning {
    background-image: url("/img/50d_yellow.png");
  }

  .icon_50d.afternoon {
    background-image: url("/img/50d_pink.png");
  }

  .icon_50d.evening {
    background-image: url("/img/50d_blue.png");
  }

  .icon_50n {
    background-image: url("/img/50d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .icon_50n.morning {
    background-image: url("/img/50d_yellow.png");
  }

  .icon_50n.afternoon {
    background-image: url("/img/50d_pink.png");
  }

  .icon_50n.evening {
    background-image: url("/img/50d_blue.png");
  }

  .locationbox {
    margin: 0;
    margin-right: 20px;
    padding: 0ex;
  }

  .locationbox.morning {
    color: #A86A00;
  }

  .locationbox.afternoon {
    color: #F8A991;
  }

  .locationbox.evening {
    color: #303960;
  }

  h3 {
    text-align: right;
    font-weight: 200;
    letter-spacing: 12px;

    font-size: 1.2em;
  }

  .timeanddegree {
    display: grid;
    grid-template-columns: 13fr 2fr;

    margin-top: 0;
    padding: 0;
    margin-right: -30px;
    margin-left: 10px;
  }

  .timeanddegree.morning {
    color: #EFAF42;
  }

  .timeanddegree.afternoon {
    color: #F87C56;
  }

  .timeanddegree.evening {
    color: #1E2957;
  }

  .degree {
    font-size: 1.5em;
    margin: 0;
  }

  .time {
    font-size: 2em;
    margin: 0;
  }

  .time_afternoon {
    display: none;
  }

  .time_evening {
    display: none;
  }

  .daygreeting {
    font-size: 4em;
    font-weight: 1000;
    margin-left: 100px;
  }

  .daygreeting.morning {
    color: #EFAF42;
  }

  .daygreeting.afternoon {
    color: #EB6D47;
  }

  .daygreeting.evening {
    color: #1E2957;
  }

  .borderbox {
    border: 2px solid #FAF8F0;
    border-radius: 15px;
    height: 350px;
    width: 52vw;
    margin-top: 0;
    margin-left: 25vw;
  }
  .whitebox {
    border: 2px solid #FAF8F0;
    border-radius: 15px;
    height: 350px;
    width: 50vw;
    margin-left: .9vw;
  }

  .iconbox {
      margin-left: 3.5vw;
      margin-top: 40px;
  }

   .iconbox_yellow {
      margin: 0;
      padding: 0;
  }

  .iconbox_pink {
      display: none;
  }

  .iconbox_blue {
      display: none;
  }

  .dailytemp {
      position: absolute;
  }

  .dailytemp.morning {
    color: #EDA831;
  }

  .dailytemp.afternoon {
    color: #F87C56;
  }

  .dailytemp.evening {
    color: #1E2957;
  }

  h1 {
    font-size: 6em;
    font-weight: bolder;

    margin: auto;
    padding: auto;
    margin-left: 9vw;
    margin-top: 50px;
  }

  .dailyinfo {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;

    margin: auto;
    margin-left: 30vw;
    margin-top: 70px;
  }

  .dailyinfo.morning {
    color:rgb(236, 156, 17);
  }
  .dailyinfo.afternoon {
    color:rgb(241, 110, 70);
  }
  .dailyinfo.evening {
    color:#1E2957;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
  }

  .value {
    font-weight: bold;
  }

  .weeklyinfo {
    color: white;
    margin-top: 100px;
    padding-bottom: 50px;
  }

  .dayofweek {
      border: none;
      display: grid;
      grid-template-columns: 1fr .5fr 2em;

      margin: auto;
      padding-top: 5px;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 5px;
      width: 60vw;
      line-height: 2em;
      color: #FFFFFF;
  }

  .highlightbox {
    background-color: rgba(253, 253, 253, 0.2);
    border: 2px solid white;
    border-radius: 25px;
  }


  .weeklyicons {
    max-width: 20%;
    max-height: 20%;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .weeklyicons_2 {
      margin-bottom: 10px;
  }

  @media screen and (max-width: 767px) {

    h3 {
        text-align: center;
        font-weight: 300;
        letter-spacing: 12px;
    
        font-size: 1em;
        margin: 0;
        padding: 0ex;
        padding-bottom: 20px;
      }

      .timeanddegree {
          display: block;
          padding-left: 30vw;
          position: absolute;
          margin-top: 230px;
          line-height: 5px;
          font-size: .9em;
      }
    

      .degree {
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 0;
      }
    
      .time {
        font-size: 1em;
        font-weight: 600;
        margin-top: 0;
      }

      .time_morning {
        display: none;
      }

      .time_evening {
        display: inline;
      }

      .daygreeting {
        display: none;
      }

      .daygreeting_evening {
        display: inline-block;
        position: absolute;
        font-size: .3em;
        font-weight: 50;
        color: #FFFFFF;
        margin-left: 18vw;
      }

      .borderbox {
        height: 470px;
        width: 65vw;
        margin: auto;
      }

      .whitebox {
        height: 470px;
        width: 62vw;
        margin: auto;
        background-color: rgba(253, 253, 253, 0.1);
      }

      .iconbox_blue {
        display: inline-block;
        margin-left: 6vw;
        margin-top: 40px;
      }

      h1 {
        font-size: 4em;
        font-weight: bolder;
    
        margin: auto;
        padding: auto;
        margin-left: 22vw;
        margin-top: -120px;
      }

      .dailyinfo {
        color:#1E2957;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 0.85em;
        line-height: 1.1em;
        grid-gap: 10px;

        padding: 30px;
        margin: 0px;
        margin-top: 25px;
        column-gap: 50px;
    
      }

      .iconbox_yellow {
          display: none;
      }

      .daysofweek {
        color: #FFFFFF;
        margin-bottom: 40px;
        margin-left: 100px;
      }

      .weeklyicons {
        line-height: 40px;
      }

  }

    /* Tablet Styles */
    @media screen and (max-width: 1024px) and (min-width: 768px) {


      h3 {
        text-align: center;
        font-weight: 300;
        letter-spacing: 12px;
        color: #F8A991;
    
        font-size: 1.2em;
        margin: 0;
        margin-left: 2vw;
        padding: 0ex;
        padding-bottom: 20px;
      }

      .timeanddegree {
          display: block;
          padding-left: 60vw;
          position: absolute;
          margin-top: 230px;
          line-height: 5px;
      }
    

      .degree {
        font-size: 1.2em;
        font-weight: 600;
        color: #F87C56;
        margin-bottom: 0;
      }
    
      .time {
        font-size: 1.2em;
        font-weight: 600;
        color: #F87C56;
        margin-top: 0;
      }

      .time_morning {
        display: none;
      }

      .time_afternoon {
        display: inline;
      }

      .daygreeting {
        display: inline-block;
        position: absolute;
      }

      .daygreeting_afternoon {
        display: inline-block;
        font-size: .5em;
        font-weight: 50;
        color: #FFFFFF;
        margin-left: 30vw;
      }

      .daygreeting_morning {
          display: none;
      }

      .borderbox {
        height: auto;
        width: 52vw;
        margin-left: 25vw;
      }

      .whitebox {
        height: auto;
        background-color: rgba(253, 253, 253, 0.2);
      }

      .iconbox_pink {
        display: inline-block;
        margin-left: 12vw;
        margin-top: 40px;
      }

      h1 {
        font-size: 5em;
        font-weight: bolder;
        color: #F87C56;
    
        margin: auto;
        padding: auto;
        margin-left: 20vw;
        margin-top: -165px;
      }

      .dailyinfo {
        color:rgb(250, 119, 79);
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 0.9em;
        line-height: .75em;
    
        margin: 30px;
        margin-left: 65px;
        margin-top: 70px;
      }
    
      .item {
        margin-bottom: 20px;
      }

      .iconbox_yellow {
          display: none;
      }

      .daysofweek {
        color: #FFFFFF;
        margin-bottom: 40px;
        margin-left: 100px;
      }

      
    }







}
